/*** Simple Reset */

*,*::before,*::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* -------------------------------------------------------------------------- */

/*** Variables */

:root{

	--header-height: 4rem;
	--mobile-menu-width: 4rem;

	--grey-dark:#555;
	--tan: #FBFACD;
	--eggshell-light: #F3F1F5;
	--purple-light-1: #A084DC;
	--purple-dark-1: #645CBB;
	--purple-lightest-1: #BFACE2;
	--pink: #EBC7E6;
}

/* -------------------------------------------------------------------------- */

/* tag styling */

body {
	font-family: sans-serif;
	font-size: 1.6rem;
	line-height: 1.2;
	padding-top:var(--header-height);
}

h1 {
	font-size: 48px;
	text-align: center;
	padding: 1% 0;
}

/* Navbar Section */

header{
	background-color: var(--grey-dark);
	position:absolute;
	z-index:10;
	width:100%;
	top:0;
}

nav{
	display:flex;
  	justify-content: space-between;
	gap:4rem;
	height: 4rem;
  	padding-right: 2%;
}

nav ul{
	display:flex;
	gap:2rem;
	list-style:none;
}

nav h3 a,
nav ul li a{
	display:block;
	line-height:6rem;
	text-decoration:none;
	color: var(--tan);
}

nav ul li a:hover{
	display:block;
	line-height:8rem;
	text-decoration:none;
	color: var(--purple-light-1);
}

.navbar {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	padding: 20px;
	background-color: var(--grey-dark);
	color: var(--tan);
	list-style: none;
	text-decoration: none;
}

.logo{
  border: 2%;
  padding: 1% 0;
}

.nav-links a {
  color: var(--eggshell-light);
  font-size: 25px;
  padding: 16px;
}

.nav-links a:hover {
  color: var(--purple-light-1);
}

/*** Mobile Menu Button */

#mobile-menu{
	position:absolute;
	top:50%;
	right:1rem;
	transform:translateY(-50%);
	z-index:1;
	width:var(--mobile-menu-width);
	height:var(--mobile-menu-width);
	cursor:pointer;
}

#mobile-menu span{
	position:absolute;
	width:70%;
	height:1px;
	left:10%;
	top:50%;
	background-color:var(--tan);
	transition:all 0.3s ease-in-out;
}

#mobile-menu span:first-of-type{
	top:25%;
}

#mobile-menu span:last-of-type{
	top:75%;
}

#mobile-menu.open span{
	opacity:0;
}

#mobile-menu.open span:first-of-type,
#mobile-menu.open span:last-of-type{
	transform:rotate(45deg);
	opacity:1;
	top:50%;
}
#mobile-menu.open span:last-of-type{
	transform:rotate(-45deg);
}

/** Mobile Menu Content */

#mobile-menu-content{
	width:100%;
	height:calc(100vh - var(--header-height));
	background:var(--grey-dark);
	position:fixed;
	top:-100vh;
	left:0;
	z-index:5;
	display:flex;
	align-items:flex-start;
	transition:top 0.7s ease-in-out;
}
#mobile-menu-content.open{
	top:var(--header-height);
}
#mobile-menu-content > div{
	width:100%;
	height:calc(100vh - var(--header-height));
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}
#mobile-menu-content > div > ul{
	width:100%;
}
#mobile-menu-content ul li{
	display:flex;
	justify-content:center;
	flex-direction:column;
	text-align:center;
	border-top:1px solid var(--tan);
}
#mobile-menu-content ul li:last-of-type{
	border-bottom:1px solid var(--tan);
}
#mobile-menu-content ul li a{
	padding:2rem;
	text-decoration:none;
	color:var(--tan);
	display:block;
}

/** - Responsive design parameters */

@media (max-width:850px){
	header nav ul{
		display:none;
	}
}

.wrapper {
	width: 100%;
}

/* -------------------------------------------------------------------------- */

/* Mobile/Small Settings */

/* Heading Section */

.head-section {
	display: inline;
}

.head-txt-top {
	position: absolute;
	margin: 2% 10% 0 5%;
	font-size: 1rem;
	padding: 3px;
	background: rgba(255, 255, 255, 0.5);
}

.head-img {
	width: 100%;
	height: 100%;
}

.head-txt-bot {
	position: absolute;
	margin: 55% 0 0 60%;
	font-size: 1rem;
	padding: 3px;
	background: rgba(255, 255, 255, 0.5);
}

/* Photoshoot Types Section */
.shoot-section h2 {
	font-size: 1rem;
}

.shoot-type {
	padding-top: 5%;
	text-align: center;
}

.shoot-desc{
	padding: 3%;
	font-size: 0.75rem;
}

.odd-shoot{
	background-color: var(--purple-dark-1);
	height: 200px;
	clear: right;
}

.odd-shoot img{
	float: left;
	padding-right: 2%;
	width: auto;
	height: 100%;
	object-fit: cover;
}

.even-shoot{
	background-color: var(--purple-light-1);
	height: 200px;
	clear: left;
	padding-left: 1%;
}

.even-shoot img{
	float: right;
	padding-left: 2%;
	width: auto;
	height: 100%;
	object-fit: cover;
}

/* Seasonal Offers Section */

/* .seasonal-offers {
	text-align: center;
} */

/* .seasonal-offers img {
	height: 20%;
	width: 20%;
} */

/* Scheduling Section */

.schedule-section {
	height: 100px;
	text-align: center;
	background-color: var(--purple-dark-1);
}

.schedule-section h2 {
	font-size: 1.6rem;
	text-align: center;
	background-color: var(--purple-light-1);
	padding: 10px;
	display: inline;
	position:relative;
	top: 30%;
}

/* Footer */
#footer{
	text-align: center;
	padding: 2% 0;
	background-color: var(--grey-dark);
}

.social-logo{
	margin: 0 1%;
	height: auto;
	width: 5%;
}

.social-links {
  	text-align: center;
}

.social-section p {
	font-size: 0.75rem;
}

/* About Styling */

.profile-overview {
	text-align: center;
	padding: 5% 18%;
	background-color: var(--purple-dark-1);
}

.profile-overview h1 {
	font-size: 1.2rem;
	padding: 0 0 1% 0;
}

.about-cont {
	font-size: 0.9rem;
	padding-bottom: 1%;
}

.prof-cont {
  	padding: 0 0 3% 2%;
	background-color: var(--purple-light-1);
	height: 200px;
}

.prof-name {
	text-align: center;
	padding: 2% 0 2% 25%;
	font-size: 1.2rem;
}

.prof-img {
	float: left;
	padding-right: 3%;
	height: auto;
	width: 40%;
	object-fit: cover;
}

.profile-desc p{
  	padding-right: 1%;
	font-size: 0.75rem;
}

/* Contact Styling */

.signup-form {
	background-color: rgb(31, 0, 66);
	padding: 5% 0 5% 0;
}

.signup-form img {
	height: 20%;
	width: auto;
}

.signup-form h2 {
	font-size: 1.6rem;
	padding: 5% 10%;
}

label {
    display: inline-block;
	font-size: 1rem;
    width: 100px;
    text-align: right;
	margin: 1% 0 0 0;
  }
  
  input {
    padding: 4% 4%;
  }
  
  .signup-form {
    text-align: center;
    font-weight: bold;
    color:#BFA2DB;
  }
  
  .data-input {
    font-size: 1.1rem;
  }
  
  .top-box {
    border-radius: 2px;
    margin-bottom: 2%;
  }
  
  .mid-box {
    border-radius: 0;
    margin-bottom: 2%;
  }
  
  .bot-box {
    border-radius: 2px;
    margin-bottom: 4%;
  }
  
  .submit-btn {
    background-color: #BFA2DB;
    height: 7%;
    width: 20%;
    border-radius: 5px;
    display: inline-block;
    margin: 0 auto 3% auto;
    font-weight: bold;
  }

/*----------------------------------------------------------------------------------------*/

/* Desktop/Large Display Settings */

@media only screen and (min-width: 850px){

	/* Navbar Section */

	header{
		background-color: var(--grey-dark);
		position:absolute;
		z-index:10;
		width:100%;
		top:0;
	}

	.logo{
		border: 2%;
		padding: 1% 0;
	  }

	nav{
		display:flex;
		justify-content: space-between;
		gap:4rem;
		height: 6rem;
		padding-right: 2%;
	}

	nav ul{
		display:flex;
		gap:2rem;
		list-style:none;
	}

	nav h3 a,
	nav ul li a{
		display:block;
		line-height:6rem;
		text-decoration:none;
		color: var(--tan);
	}

	nav ul li a:hover{
		display:block;
		line-height:6rem;
		text-decoration:none;
		color: var(--purple-light-1);
	}

	.navbar {
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: space-between;
		padding: 20px;
		background-color: var(--grey-dark);
		color: var(--tan);
		list-style: none;
		text-decoration: none;
	}

	.nav-links a {
	color: var(--eggshell-light);
	font-size: 25px;
	padding: 16px;
	}

	.nav-links a:hover {
	color: var(--purple-light-1);
	}

	/* Index styling */

	.head-section{
		display: inline;
	}

	.head-txt-top{
		margin: 5% 10% 0 5%;
		font-size: 2.5rem;
		position: absolute;
		text-align: center;
		z-index: 5;
		color: black;
		background: rgba(255, 255, 255, 0.5);
	}

	.head-txt-bot{
		margin: 60% 0 0 70%;
		font-size: 2.5rem;
		position: absolute;
		text-align: center;
		z-index: 5;
		color: black;
		background: rgba(255, 255, 255, 0.5);
	}

	.head-img{
		position: relative;
		width:100%;
		height: auto;
		z-index: 1;
	}

	/* Photoshoot Types Section */
	.shoot-type {
		padding-top: 20px;
		text-align: center;
	}

	.shoot-section h2 {
		font-size: 2.5rem;
	}

	.shoot-desc{
		padding: 3%;
		font-size: 2rem;
	}

	.odd-shoot{
		background-color: var(--purple-dark-1);
		height: 500px;
		clear: right;
	}

	.odd-shoot img{
		float: left;
		padding-right: 2%;
		width: auto;
		height: 100%;
		object-fit: cover;
	}

	.even-shoot{
		background-color: var(--purple-light-1);
		height: 500px;
		clear: left;
		padding-left: 1%;
	}

	.even-shoot img{
		float: right;
		width: auto;
		height: 100%;
		object-fit: cover;
		padding-left: 2%;
	}

	.social-section p {
		font-size: 1.2rem;
	}

	/* About Styling */

	.prof-cont {
		padding: 0 0 3% 2%;
		background-color: var(--purple-light-1);
		font-size: 0.75rem;
		height: 300px;
	}

	.prof-name {
		text-align: center;
		padding: 2% 0 2% 25%;
		font-size: 2rem;
	}

	.prof-img {
		float: left;
		padding-right: 3%;
		width: auto;
		height: 70%;
		object-fit: cover;
	}

	.profile-desc {
		padding-right: 1%;
		font-size: 1.5rem;
	}

	.profile-overview {
		text-align: center;
		padding: 5% 18%;
		background-color: var(--purple-dark-1);
	}

	.profile-overview h1 {
		font-size: 3rem;
		padding: 0 0 1% 0;
	}

	.about-cont {
		font-size: 2rem;
		padding-bottom: 1%;
	}

	.prof-cont {
		padding: 0 0 3% 2%;
		background-color: var(--purple-light-1);
		height: 300px;
	}

	.prof-name h2 {
		text-align: center;
		padding: 2% 0 2% 25%;
		font-size: 0.5rem;
	}

	.profile-desc p{
		padding-right: 1%;
		font-size: 2rem;
	}

	/* Contact Styling */

	.signup-form {
		background-color: rgb(31, 0, 66);
		padding: 5% 0 5% 0;
	}

	.signup-form img {
		height: 40%;
		width: auto;
	}

	.signup-form h2 {
		font-size: 2.3rem;
		padding: 2% 10%;
	}

	label {
		display: inline-block;
		font-size: 1.5rem;
		width: 20%;
		text-align: right;
		margin: 1% 2% 0 0;
	}
  
	input {
		padding: 2% 2%;
	}
	
	.signup-form {
		text-align: center;
		font-weight: bold;
		color:#BFA2DB;
	}
	
	.data-input {
		font-size: 1.5rem;
	}
	
	.top-box {
		border-radius: 2px;
		margin-bottom: 1%;
		padding-right: 18%;
	}
	
	.mid-box {
		border-radius: 0;
		margin-bottom: 1%;
		padding-right: 18%;
	}
	
	.bot-box {
		border-radius: 2px;
		margin-bottom: 2%;
		padding-right: 18%;
	}
	
	.submit-btn {
		background-color: #BFA2DB;
		height: 7%;
		width: 18%;
		border-radius: 5px;
		display: inline-block;
		margin: 0 auto 1% auto;
		font-weight: bold;
		font-size: 1.5rem;
  }

  /* Portfolio Styling */

  .port-all-gall{
	text-align: center;
  }

  .port-sect {
	padding: 5%;
  }

}


/* #645CBB dark purple*/ 
/* #A084DC light purple*/
/* #BFACE2 lightest purple*/
/* #EBC7E6 pink*/

/* Alt palette */
/* #F3F0D7 */
/* #F3F1F5 */
/* #F0D9FF */
/* #BFA2DB */
/* #7F7C82 */